body{
background-color:lightBlue
}

header{
display:flex;
justify-content:space-between;
align-items:center
}
a{
text-decoration:none;
margin-left:20px;
}

div{
margin:20px;
display:flex;
justify-content:space-around;
align-items:center
}

ul{
width:250px;
}