<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Albums</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/albums.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <header>
    <h1>Songer Apllication</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/addAlbumsForm">Add New Album</a>

    </nav>
  </header>
  <main>
  <h1>This Is The Most Famous Albums List</h1>
    <div class="container">
      <div class="row" >
    <div class="col" th:each="albums :${albums}">
    <div class="card text-dark bg-info" style="width: 18rem;">
      <img th:src="${albums.getImageUrl}" class="card-img-top" alt="..." height="250px" >
      <div class="card-body">

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5 class="card-title"><span th:text="${albums.getTitle}"></span></h5></li>
          <li class="list-group-item">Artist: <span th:text="${albums.getArtist}"></span></li>
          <li class="list-group-item">Number of songs: <span th:text="${albums.getSongCount}"></span></li>
          <li class="list-group-item">Album length in seconds: <span th:text="${albums.getLength}"></span></li>
        </ul>
<!--        <p class="card-text">Artist: <span th:text="${albums.getArtist}"></span></p>-->
<!--        <p class="card-text"> Number of songs: <span th:text="${albums.getSongCount}"></span></p>-->
<!--        <p class="card-text">Album length in seconds: <span th:text="${albums.getLength}"></span></p>-->
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" th:href="@{/oneAlbum(id=${albums.id})}">show Album</a>
        <a class="btn btn-primary" th:href="@{/deleteAlbum(id=${albums.id})}">delete Album</a>
      </div>

      </div>
    </div>
    </div>
    </div>


  </main>

</body>

</html>