<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">

</head>
<body>
<header>
    <h1>Songer Apllication</h1>
    <nav  >
        <a href="/albums">All Albums</a>
    </nav>
</header>
<main>
<p th:text="${text}"></p>
    <p>This project is about using Spring Boot to create<br>
        an backend application,and in this lab we create<br>
        a number of end points in different ways and using<br>
        the MVC structure.</p>
</main>
<footer>
    <p>All rights reserved &copy;2021</p>
</footer>
</body>
</html>